@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');

$danger: #fa408f;
$primary: #A7D7C5;
$enable-shadows: false;
$enable-rounded: false;
$enable-gradients: false;
$font-family-base: 'Montserrat', sans-serif;

@import '~node_modules/bootstrap/scss/bootstrap';
@import '~node_modules/@icij/murmur/dist/lib/@icij/murmur.css';
